{% extends "../base.html" %}
{% load static %}
{% block title %}
SignUp
{% endblock title %}
{% block content %}
<style>
    #signup {
        display: grid;
        grid-template-columns: 6fr 4fr;
    }

    .item {
        height: 100vh;

    }

    .card {
        border: none;
    }
</style>

<div id="signup">
    <div class="item">
        <div class="signUp-form">
            <div class="card card-body w-50 mt-5 m-auto">
                <h2 class="mb-5 text-center grey-color">
                    Sign Up
                </h2>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control my-0 py-0" id="name" placeholder="name">
                    <label for="name">Full Name</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control my-0 py-0" id="username" placeholder="username">
                    <label for="username">Username</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="email" class="form-control my-0 py-0" id="email" placeholder="email">
                    <label for="email">Email</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control my-0 py-0" id="password" placeholder="password">
                    <label for="password">Password</label>
                </div>
                <br>
                <div class="form-floating">
                    <input type="password" class="form-control my-0 py-0" id="cpassword" placeholder="password">
                    <label for="cpassword">Confirm Password</label>
                </div>

                <div class=" my-3">
                    <button class="btn btn-primary w-100 grey-bgcolor" style="border: none;">
                        Sign Up
                    </button>
                </div>
                <div class="mb-3">
                    <div class="my-3 grey-color">
                        ALready have account? <a href="{% url 'login' %}" class="light-grey-color"
                            style="text-decoration: none;">login here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="item grey-bgcolor">
        <div class="signUp-info light-color" style="margin-top: 50%;text-align: center;">
            <h2>WELCOME</h2>
            <p class="my-1">Lorem ipsum dolor sit amet, adipisicing elit</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio, quaerat!</p>
        </div>
    </div>
</div>


{% endblock content %}