{% extends "../base.html" %}
{% load static %}
{% block content %}
<style>
    #signup{
        display: grid;
        grid-template-columns: 6fr 4fr;
    }
    .item{
        height: 100vh;
        width: 80%;
        
    }
    .signUp-form{
        width: 90vh;
        margin-left: -222px;
        text-align: center;
        
    }
    .card{
        border: none;
    }
</style>

<div id="signup">
    <div class="item">
        <div class="signUp-form">
            <div class="card card-body w-50 mt-5 m-auto">
                <h2 class="mb-5 text-center grey-color">
                    Sign Up
                </h2>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control my-0 py-0" id="name" placeholder="name">
                    <label for="name">Full Name</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control my-0 py-0" id="username" placeholder="username">
                    <label for="username">Username</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="email" class="form-control my-0 py-0" id="email" placeholder="email">
                    <label for="email">Email</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control my-0 py-0" id="password" placeholder="password">
                    <label for="password">Password</label>
                </div>
                <br>
                <div class="form-floating">
                    <input type="password" class="form-control my-0 py-0" id="cpassword" placeholder="password">
                    <label for="cpassword">Confirm Password</label>
                </div>

                <div class=" my-3">
                    <button class="btn btn-primary w-100 grey-bgcolor" style="border: none;">
                        Sign Up
                    </h2>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control my-0 py-0" id="floatingInput" placeholder="abc@gmail.com">
                        <label for="floatingInput">First Name</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control my-0 py-0" id="floatingInput" placeholder="abc@gmail.com">
                        <label for="floatingInput">Last Name</label>
                      </div>
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control my-0 py-0" id="floatingInput" placeholder="abc@gmail.com">
                        <label for="floatingInput">Username</label>
                      </div>
                      
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control my-0 py-0" id="floatingInput" placeholder="abc@gmail.com">
                        <label for="floatingInput">Email</label>
                      </div>
                      <div class="form-floating">
                        <input type="password" class="form-control my-0 py-0" id="floatingPassword" placeholder="password">
                        <label for="floatingPassword">Password</label>
                      </div>
                      <br>
                      <div class="form-floating">
                        <input type="password" class="form-control my-0 py-0" id="floatingPassword" placeholder="password">
                        <label for="floatingPassword">Confirm Password</label>
                      </div>
                      
                      <div class=" my-3">
                          <button class="btn btn-primary w-100" style="background-color: #59C8AD;border: none;">
                              Sign Up
                          </button>
                      </div>
                </div>
            </div>
        </div>
        
      
    {% endblock content %}