{% extends "company/base.html"%}
{% load static %}
{% block title%}Company{% endblock%}
{% block content %}
<style>
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 67vh;

    }

    .profile {
        position: relative;
        width: 300px;
        height: 350px;
        background-size: cover;
        cursor: pointer;
        border: 12px;
        border-top-right-radius: 35px !important;
        border-radius: 6px
    }

    .overlay {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 12px;
        cursor: pointer;
        opacity: 0;
        transition: all 1s;
        border-top-right-radius: 35px !important;
        border-radius: 6px
    }

    .profile:hover .overlay {
        opacity: 1
    }

    .social-icons {
        display: flex;
        list-style: none;
        bottom: 10px;
        position: absolute;
        text-align: center;
        justify-content: center;
        left: 22px
    }

    .social-icons li {
        width: 25px;
        height: 25px;
        border: 1px solid #eee;
        padding: 20px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        border-radius: 5px;
        transition: all 1s
    }

    .social-icons li:hover {
        background: #fff;
        color: #000
    }

    .overlay .about {
        position: relative;
        justify-content: center;
        align-items: center;
        display: flex;
        top: 40%;
        color: #fff;
        flex: column
    }
    
</style>
<div class="row mt-4" style="overflow-x: hidden ; max-width: 100%;">
    <div class="col-2 text-center">
        
        <div class="card shadow-lg p-0 mb-5 bg-body rounded ms-3">
            <div class="card-body">
                <table class="table table-hover">
                    <tr>
                        <th><strong> MENU</strong></th>
                    </tr>
                    <tbody>
                        <tr>
                            <th><strong><i class="fas fa-home"></i> Home</strong></th>
                        </tr>
                        <tr>
                            <th><strong><i class="fab fa-facebook-messenger"></i> Message</strong></th>
                        </tr>
                        <tr>
                            <th><strong><i class="fas fa-bookmark"></i> Save Influencer</strong></th>
                        </tr>
                        <tr>
                            <th><strong><i class="fas fa-money-bill-wave"></i> Transaction</strong></th>
                        </tr>
                        <tr>
                            <th><strong><i class="fas fa-user-circle"></i> Profile</strong></th>
                        </tr>
                        <tr>
                            <th><a href="{% url 'logout' %}"><strong><i
                                            class="fas fa-sign-out-alt"></i>Logout</strong></a></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    
    
    <div class="col-8">
        <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                    role="tab" aria-controls="home" aria-selected="true">All Post</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
                    role="tab" aria-controls="profile" aria-selected="false">Fashion</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
                    role="tab" aria-controls="contact" aria-selected="false">Travel</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="education-tab" data-bs-toggle="tab" data-bs-target="#education"
                    type="button" role="tab" aria-controls="education" aria-selected="false">Educational</button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                <div class="row justify-content-center">
                    {% for post in posts|slice:":3" %}
                    
                    <div class="col-4">
                        <a href="{% url 'posted' post.id %}">
                        <div class="wrapper">
                            <div class="profile"
                                style="background: url('{{post.post_img.url}}');background-size: cover;">
                                <div class="overlay">
                                    <div class="about d-flex flex-column">
                                        <h4>{{post.title}}</h4> <span>{{post.field}}</span>
                                    </div>
                                    <ul class="social-icons">
                                        <li><i class="fab fa-facebook-f"></i></li>
                                        <li><i class="fab fa-youtube"></i></li>
                                        <li><i class="fab fa-twitter"></i></li>
                                        <li><i class="fab fa-instagram"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </a>
                    </div>
                    
                    {%endfor%}
                </div>


            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row justify-content-center">
                    {% for post in posts %}
                    {% ifequal post.field "Fashion" %}
                    <div class="col-4">
                        <a href="{% url 'posted' post.id %}">
                        <div class="wrapper">
                            <div class="profile"
                                style="background: url('{{post.post_img.url}}');background-size: cover;">
                                <div class="overlay">
                                    <div class="about d-flex flex-column">
                                        <h4>{{post.title}}</h4> <span>{{post.field}}</span>
                                    </div>
                                    <ul class="social-icons">
                                        <li><i class="fab fa-facebook-f"></i></li>
                                        <li><i class="fab fa-youtube"></i></li>
                                        <li><i class="fab fa-twitter"></i></li>
                                        <li><i class="fab fa-instagram"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </a>
                    </div>
                    {%endifequal%}
                    {%endfor%}
                </div>

            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row justify-content-center">
                    {% for post in posts %}
                    {% ifequal post.field "Travel" %}
                    <div class="col-4">
                        <div class="wrapper">
                            <div class="profile"
                                style="background: url('{{post.post_img.url}}');background-size: cover;">
                                <div class="overlay">
                                    <div class="about d-flex flex-column">
                                        <h4>{{post.title}}</h4> <span>{{post.field}}</span>
                                    </div>
                                    <ul class="social-icons">
                                        <li><i class="fab fa-facebook-f"></i></li>
                                        <li><i class="fab fa-youtube"></i></li>
                                        <li><i class="fab fa-twitter"></i></li>
                                        <li><i class="fab fa-instagram"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    {%endifequal%}
                    {%endfor%}
                </div>

                <div class="tab-pane fade" id="education" role="tabpanel" aria-labelledby="education-tab">
                    <div class="row justify-content-center">
                        {% for post in posts %}
                        {% ifequal post.field "Educational" %}
                        <div class="col-4">
                            <div class="wrapper">
                                <div class="profile"
                                    style="background: url('{{post.post_img.url}}');background-size: cover;">
                                    <div class="overlay">
                                        <div class="about d-flex flex-column">
                                            <h4>{{post.title}}</h4> <span>{{post.field}}</span>
                                        </div>
                                        <ul class="social-icons">
                                            <li><i class="fab fa-facebook-f"></i></li>
                                            <li><i class="fab fa-youtube"></i></li>
                                            <li><i class="fab fa-twitter"></i></li>
                                            <li><i class="fab fa-instagram"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%endifequal%}
                        {%endfor%}
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="col-2">
        <h4>Content of Influencer</h4>
        {%for content in contents %}
            <div class="card shadow p-3 mb-5 bg-white rounded text-center">
                <h5>{{content.influencer}}</h5>
                <small><strong>Date:04/10/2021</strong></small>
                <div class="text-center">
                    <button type="button" class="btn btn-secondary w-50" style="border-radius:50px ;">View</button>
                </div>
            </div>
        {%endfor%}
    </div>


</div>

{% endblock%}