{% extends "company/base.html"%}
{% load static %}
{% block title%}Post{% endblock%}
{% block content %}

<div class="card shadow p-3 m-5 bg-white rounded ">
    <div class="card-header" style="background-image: url('{{post.post_img.url}}');background-size: cover;height: 630px;color: white;">
       <a href="#"><i class="fas fa-bookmark" style="float:right;color:white;"></i></a>
        <h3 style="margin-top: 510px; float: left;">{{post.influencer}}</h3>
        <h6 style="margin-top:560px;">{{post.title}}</h6>
    </div>
    <div class="card-body">
        <p>{{post.description}}</p>
    </div>
    <div class="footer text-center">
        <button type="button" class="btn btn-primary"><i class="fab fa-facebook-messenger"></i> Continue Talk</button>
        <button type="button" class="btn btn-danger">Not Suitable :/</button>
    </div>
   
</div>

{%endblock%}