{% extends "base.html"%}
{% load static %}
{% block title%}Dashboard{% endblock%}
{% block content %}
<style>
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 67vh;

    }

    .profile {
        position: relative;
        width: 300px;
        height: 250px;
        background-size: cover;
        cursor: pointer;
        border: 12px;
        border-top-right-radius: 35px !important;
        border-radius: 6px
    }

    .overlay {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.8);
        border-radius: 12px;
        cursor: pointer;
        opacity: 0;
        transition: all 1s;
        border-top-right-radius: 35px !important;
        border-radius: 6px
    }

    .profile:hover .overlay {
        opacity: 1
    }

    .social-icons {
        display: flex;
        list-style: none;
        bottom: 10px;
        position: absolute;
        text-align: center;
        justify-content: center;
        left: -15px
    }

    .social-icons li {
        width: 25px;
        height: 25px;
        border: 1px solid #eee;
        padding: 20px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        border-radius: 5px;
        transition: all 1s
    }

    .social-icons li:hover {
        background: #fff;
        color: #000
    }

    .overlay .about {
        position: relative;
        justify-content: center;
        align-items: center;
        display: flex;
        top: 40%;
        color: #fff;
        flex: column
    }

    tr,
    th {
        border: none;
    }
</style>
<div class="row mt-4" style="overflow-x: hidden ; max-width: 100%;">
    <div class="col-3 text-center">

        <div class="card shadow-lg p-0 mb-2 mt-5 bg-body rounded ms-3" v>
            <div class="card-body">
                <div class="d-flex">
                    <div class="me-3">
                        <img src="{{influencer.profileImg.url}}" class="rounded float-start"
                            style="height: 80px; width:80px;" alt="...">
                    </div>
                    <div>
                        <p class="mb-1 mt-2"><strong>@{{influencer.influencer_id.username}}</strong></p>
                        <p class="text-muted">{{influencer.field}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card shadow-lg p-0 mb-5 mt-2 bg-body rounded ms-3" v>
            <div class="card-body">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <th style="cursor: pointer;"><strong><i class="fas fa-home"></i> Home</strong></th>
                        </tr>
                        <tr>
                            <th style="cursor: pointer;"><strong><i class="fab fa-facebook-messenger"></i>
                                    Message</strong></th>
                        </tr>
                        <tr>
                            <th style="cursor: pointer;"><strong><i class="fas fa-bookmark"></i> Save Post</strong></th>
                        </tr>
                        <tr>
                            <th style="cursor: pointer;"><strong><i class="fas fa-money-bill-wave"></i>
                                    Transaction</strong></th>
                        </tr>
                        <tr>
                            <th style="cursor: pointer;"><strong><i class="fas fa-user-circle"></i> Profile</strong>
                            </th>
                        </tr>
                        <tr>
                            <th style="cursor: pointer;"><a href="{% url 'logout' %}"><strong><i
                                            class="fas fa-sign-out-alt"></i>Logout</strong></a></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>


    <div class="col-6">

        <div class="row justify-content-center">
            {% for post in posts|slice:"0:3" %}

            {% if post.influencer.influencer_id != request.user.id %}
            <div class="col-4">
                <a href="{% url 'posted' post.id %}">
                    <div class="wrapper">
                        <div class="profile" style="background: url('{{post.post_img.url}}');background-size: cover;">
                            <div class="overlay">
                                <div class="about d-flex flex-column">
                                    <h4>{{post.title}}</h4> <span>{{post.field}}</span>
                                </div>
                                <ul class="social-icons">
                                    <li><i class="fab fa-facebook-f"></i></li>
                                    <li><i class="fab fa-youtube"></i></li>
                                    <li><i class="fab fa-twitter"></i></li>
                                    <li><i class="fab fa-instagram"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}

            {%endfor%}
        </div>


    </div>


    <div class="col-3">
        <div class="card shadow-lg p-0 mb-2 mt-5 bg-body rounded ms-3" v>
            <div class="card-body">
                <a href="{% url 'influencerPost' %}" class="btn btn-outline-primary w-100">
                    Add Post
                </a>
            </div>
        </div>
        <div class="card shadow-lg p-0 mb-5 mt-2 bg-body rounded ms-3" v>
            <div class="my-3 p-3 bg-body rounded shadow-sm">
                <h6 class="border-bottom pb-2 mb-0">Suggestions</h6>
                {% for inf in all_influencer %}
                <div class="d-flex text-muted pt-3">
                    <img src="{{inf.profileImg.url}}" class="me-3" width="32" height="32" alt="">

                    <div class="pb-3 mb-0 small lh-sm border-bottom w-100">
                        <div class="d-flex justify-content-between">
                            <strong class="text-gray-dark">{{inf.influencer_id.username}}</strong>
                            <a href="#">Follow</a>
                        </div>
                        <span class="d-block">@{{inf.influencer_id.username}}</span>
                    </div>
                </div>
                {% endfor %}
               
                <small class="d-block text-end mt-3">
                    <a href="#">All suggestions</a>
                </small>
            </div>
        </div>

    </div>


</div>

{% endblock%}