{% extends "dashboard_base.html"%}
{% load static %}
{% load custom_tags %}
{% block title%}Notification{% endblock%}
{% block content %}

<div class="mt-5">
    <h4 class="mb-3 text-center">Notifications</h4>
    {% for in %}
    <div class="card card-body shadow-sm" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        <div class="row">
            <div class="col-8">title - Compnay Name</div>
            <div class="col-4"><span style="color: green;">work pending..</span></div>
        </div>
    </div>
    {% endfor %}

</div>


<!-- Modal -->
{% for in %}
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add Work After Completion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Send</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock%}